@media (max-width: 992px){

    .wrapper .links .toggle.d-none{
        display: block !important;
    }

    .wrapper .vertical-nav{
        left: -300px;
        box-shadow: var(--box-shadow2);
        z-index: 1000;
        transition: left 0.5s ease;
        background: white;
    }
    .wrapper .vertical-nav.show{
        left: 0;
    }
    .wrapper .main-section{
        width: 100%;
        margin-left: 0;
        box-shadow: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .wrapper .main-section nav{
        padding: 1rem 1rem;
    }
    .wrapper .page-loc{
        font-size: 0.9rem;
        font-weight: normal;
        padding-right: 20px;
    }
    .wrapper .links .wallet{
        display: none;
    }
    .wrapper .links .notification .btn i{
        font-size: 1.1rem;
    }
    .wrapper .links .notification .notification-dropdown{
        width: 80vw;
        left: 50%;
        transform: translateX(-50%);
    }
    .wrapper .links .notification .notification-dropdown:after{
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .wrapper .links .profile .image{
        margin: 0 10px;
    }
    .wrapper .links .profile .image img{
        width: 30px;
        height: 30px;
    }

    /* content-wrapper */
    .content-wrapper{
        padding: 1rem;
    }
    .content-wrapper .card .card-header{
        background: none;
        font-family: var(--font-montserrat);
        font-weight: 400;
        padding: 0.8rem 1.25rem;
        font-size: 0.9rem;
    }
    /* form */
    .content-wrapper form .form-group{
        margin: 0.3rem 0;
    }
}

@media (max-width: 600px){
    .wrapper footer .footer-content{
        justify-content: center
    }
    .content-wrapper .updateProfile{
        left: 0;
        right: 0;
        bottom: 0;
        width: initial;
        max-width: initial;
        margin: 10px;
    }
    .content-wrapper .cookies{
        left: 0;
        right: 0;
        bottom: 0;
        width: initial;
        max-width: initial;
        margin: 10px;
    }
    .content-wrapper .cookies.show{
        bottom: 15%;
    }
    .content-wrapper .updateProfile .btn{
        padding: 0.25rem 0.5rem;
    }
    .normal-table{
        max-width: 400px !important;
    }
    .normal-table table{
        max-width: 300px !important;
    }
}