.container {
  padding: 25px 0;
}
.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 100%;
  margin: 1rem 0.5rem;
  text-align: center;
  font-family: poppins;
  padding: 1rem;
  box-shadow: var(--box-shadow2);
  border: none;
  border-radius: 0;
}
.card * {
  margin: 0;
}
.card .number {
  color: var(--color-red);
  font-weight: bold;
}
.card .para {
  color: #666;
  margin-top: 0.25rem;
  font-weight: 400 !important;
}

span.bg-light {
  background: rgba(255, 0, 0, 0.2) !important;
  padding: 3px 5px !important;
  border-radius: 3px;
  font-size: 0.8rem !important;
  font-family: poppins;
}
img.logo{
  max-width: 200px;
  margin: 0 auto 10px 0;
}